<%- include('./layout/top') %>



<div class="wrapper">
    <section class="top-icecream">
        <ul>
            <li>Kola</li>
            <li>Vanilj</li>
            <li>Choklad</li>
        </ul>
    </section>
    <section class="voteNav">
        <p>Vote here</p>
    </section>
</div>









<%- include('./layout/bottom') %>