<%- include('./layout/top') %>



<div class="login-wrapper">
    <form action="/login" method="POST">
      <div class="login-container">
        <h1>Login</h1>

        <label for="username"><b>Username</b></label>
        <input
          type="text"
          placeholder="Enter username"
          name="username"
          required
        />
        <br />
        <label for="password"><b>Password</b></label>
        <input
          type="text"
          placeholder="Enter Password"
          name="password"
          required
        />


        <button type="submit" class="btn">Login</button>
      </div>
      <div class="register-wrapper">
        <p>Don't have an account? <a href="/register">Register here</a>.</p>
      </div>
    </form>
  </div>






<%- include('./layout/bottom') %>