<%- include('./layout/top') %>

<div class="logout-form">
    <h1>Logout</h1>
    <form action="/logout" method="post">
        <button>Logout</button>
    </form>

</div>


<%- include('./layout/bottom') %>