body, html{
    height: 100vh;
    margin: 0;
    background-color: #FFB2B2;
}

header {
    background-image: url(./images/header-background.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 298px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: 'Fredoka One', cursive;
    text-align: center;
}

.header-title {
    grid-column: 1/4;
}

.header-title h1 {
    color: white;
    font-size: 54px;
    margin: 0;
}

.header-title h2 {
    color: #FFDADA;
    font-size: 28px;
    margin: 0;
}

.voteNav {
    width: 10rem;
    height: 10rem;
}
